@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    background-color: rgb(141, 77, 34);
    background-image: url("../img/wood-background.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

h1 {
    margin: 15px;
}

button {
    padding: 9px 25px;
    background: #8a8a8abf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background: rgba(0, 136, 169, 0.8);
}

.browse-container {
    margin: 0px 150px;
    height: 100%;
}

.browse-header {
    color: antiquewhite;
    height: 120px;
    width: 100%;
    /* position: fixed; */
}
.browse-content {
    /* margin-top: 120px; */
    position: relative;
    height: 100%;
    
}

.change-page {
    color: antiquewhite;
    padding: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 10px 15px;
    cursor: pointer;
}

.change-page:hover {
    opacity: 0.5;
    transition-duration: 1s;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/* ------------------------- book item --------------------------- */
.book-item {
    width: 200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    float: left;
    margin: 15px;
}
.book-item h2 {
    color: white;
}
.book-item h3 {
    color: white;
    margin: 12px 0px;
}
.book-item h4 {
    color: white;
    margin: 0;
    font-style: italic;
    margin-top: 5px;
}
.book-item h5 {
    color: white;
    margin: 0;
    margin-top: 30px;
    font-style: italic;
    text-align: center;
}
.release-year {
    position: fixed;
    text-align: left;
    width: 150px;
}
.num-pages {
    position: fixed;
    text-align: right;
    width: 150px;
}
.page-container {
    padding: 0px 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.book-item .description {
    margin-top: 15px;
    height: 260px;
    width: 150px;
    -webkit-line-clamp: 14;
}
.book-item .title {
    height: 100px;
    width: 160px;
    -webkit-line-clamp: 3;
}
.book-item .authors {
    height: 80px;
    width: 160px;
    -webkit-line-clamp: 3;
}
.book-item .publisher {
    height: 55px;
    width: 160px;
    -webkit-line-clamp: 2;
}

.book {
    transform-style: preserve-3d;
    position: relative;
    height: 300px;
    cursor: pointer;
    backface-visibility: visible;
    left: -100px;
}
  
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}
  
.front, .back {
    background-size: 100% 100%;
}
  
.front, .page1, .page3, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.page1 { background: #efefef; }
.page2 { background: #efefef; }
.page3 { background: #f5f5f5; }
.page4 { background: #f5f5f5; }
.page5 { background: #fafafa; }
.page6 { background: #fdfdfd; }

.book:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
    transform: rotateY(-20deg) scale(1.1);
}
/* animation from https://codepen.io/dhanishgajjar/pen/bjaYYo */
.blue-book {
    background-color: rgb(34, 84, 141);
    background-image: url("../img/blue-book.jpg");
}
.brown-book {
    background-color: rgb(141, 82, 34);
    background-image: url("../img/brown-book.jpg");
}
.red-book {
    background-color: rgb(141, 34, 34);
    background-image: url("../img/red-book.jpg");
}
.green-book {
    background-color: rgb(34, 141, 87);
    background-image: url("../img/green-book.jpg");
}
.book-tag {
    position: absolute;
    z-index: 10;
    background-size: 100% 100%;
    text-align: center;
}
.price-tag {
    background-image: url("../img/price-tag.png");
    left: 160px;
    top: 0px;
    width: 60px;
    height: 80px;
}
.stock-tag {
    background-image: url("../img/stock-tag.png");
    left: 170px;
    top: 80px;
    width: 60px;
    height: 100px;
}
.book-tag p {
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.book-tag .small {
    font-weight: 100;
    font-size: small;
    padding-top: 20px;
}
/* ------------------------- navigation --------------------------- */
.nav {
    position: relative;
    top: -7px;
}
.nav_list, .btn_nav {
    font-family: "Prata", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 205px;
    font-family: "Prata", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;
}
.logo {
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding-left: 221px;

}
.nav_links {
    list-style: none;
    margin-bottom: 16px;
    border-bottom-width: 10px;
    padding-left: 225px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgba(0, 136, 169, 1);
}

/* ------------------------- header ------------------------------- */
.header {
    color: antiquewhite;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
    padding-top: 87px;
}

/* ------------------------- footer --------------------------- */
.footer {
    text-align: center;
    padding-top: 7px;
    clear: both;
    position: relative;
    margin-top: -200px;
    justify-content: space-between;
    align-items: center;
    padding-right: 205px;
    font-family: "Prata", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;
}
/* ------------------------- single book item ------------------------------- */
